.container{
  position: relative;
  margin-left: 10rpx;
  margin-right: 10rpx;
  margin-bottom: 20rpx;
}
.title{
  position:relative;
  top: 5rpx;
  left: 0;
  width: 100%;
  height: 60rpx;
  box-sizing: border-box;
}
.title-dot{
  position: absolute;
  top: 15rpx;
  left: 10rpx;
  width: 15rpx;
  height: 15rpx;
  margin: 5rpx;
  background-color: rgb(62, 148, 219);
}
.act-title{
  position: absolute;
  top: 5rpx;
  left: 35rpx;
  height: auto;
  font-size: 32rpx;
}
.content{
  width: 690rpx;
  padding: 10rpx 10rpx;
  border-style: solid;
  border-radius: 2mm;
  border-width: 3rpx;
  border-color: rgb(62, 148, 219);
  font-size: 32rpx;
}
.content-flex{
  margin: 5rpx 5rpx;
  border-style: solid;
  border-radius: 2mm;
  border-width: 3rpx;
  border-color: rgb(62, 148, 219);
  font-size: 32rpx;
}
.date-select{
  width: 100%;
  height: 100rpx;
}
.submit{
  margin-top: 40rpx;
  margin-bottom: 60rpx;
  padding-left: 40rpx;
  padding-right: 40rpx;
  padding-top: 20rpx;
  padding-bottom: 20rpx;
  border-radius: 3mm;
  background-color: rgb(65, 193, 216);
}