.container{
    width: 100%;
    height: 100%;
}
//我的发布
.class-select{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 200rpx;
    justify-content: center;
}

.class-select Text{
    line-height: 50rpx;
    font-size: 40rpx;
}

.picker{
    width: 90%;
    margin-top: 30rpx;
    padding: 20rpx 10rpx;
    border-radius: 1.5mm;
    border: 3rpx solid rgb(27, 149, 210);
    &-object{
        margin-left: auto;
    }
}

.tab{
    width: 100%;
    height: 80rpx;
    display: flex;
    justify-content: flex-start;
}
  
.tabList, .tabList-active{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32rpx;
}

.tabList-active{
    border-bottom: 5rpx solid rgb(50, 215, 70);
}
//我的日程
.activity_list{
    display: flex;
    justify-content: center;
    margin-top: 200rpx;
    font-size: 32rpx;
    color: rgb(123, 123, 123);
  }