.container{
    padding: 120rpx;
    background: #fe5400;
}
.userimg{
    position:absolute;
    width:100px;
    height:100px;
    left: 80px;
    top: 40px;
}
.username{
    position:absolute;
    left: 220px;
    top: 70px;
    font-size: medium;
}