.container{
  padding: 20rpx;
  margin-left:10px;
  margin-right:10px;
}

.submit, .no-submit{
  position: relative;
  top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 3mm;
}

.submit{
  background-color: rgb(65, 193, 216);
  color: rgb(0, 0, 0)
}

.no-submit{
  background-color: rgb(172, 186, 188);
  color: rgb(123, 123, 123)
}

.float-layout {
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.order-title{
  display: flex;
  align-items: center;
  width: 100%;
  height: 80rpx;
  border-bottom: 3rpx solid rgb(200, 200, 200);
  line-height: 40rpx;
  font-size: 30rpx;
  background-color: rgb(255, 255, 255);
}

.symbol{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40rpx;
  width: 40rpx;
  margin-left: 10rpx;
  margin-right: 10rpx;
  border-radius: 50%;
  background-color: rgb(200, 200, 200);
  color: rgb(255, 255, 255);
}

.close {
  position: absolute;
  right: 20rpx;
  background: rgb(150, 150, 150);
  color: rgb(255, 255, 255);
  padding: 3rpx 3rpx;
  text-align: center;
  height: 40rpx;
  width: 40rpx;
  font-size: 32rpx;
  line-height: 40rpx;
}

.close::before {
  content: '\2717';
}

.order-body {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
}

.order-time {
  display: flex;
  width: 100%;
  border-bottom: 1px rgb(245, 245, 245) solid;
}

.order {
  position: relative;
  display: flex;
  float: left;
  width: 100%;
  margin: 5rpx 5rpx;
  text-align: center;
  justify-content: center;
  color: rgb(28, 28, 28);
  background: rgb(255, 255, 255);
}

.orderbox {
  display: flex;
  width: 60rpx;
  height: 60rpx;
  padding: 5rpx 0;
  justify-content: center;
  align-items: center;
  font-size: 28rpx;
  line-height: 30rpx;
}

.order-current{
  background: rgb(53, 164, 222);
}

.order-current .orderbox{
  color: rgb(255, 255, 255);
}

.order-holder {
  color: rgb(164, 164, 164);
}

.title{
  position:relative;
  top: 5px;
  left: 0%;
  width: 100%;
  height: 60rpx;
  box-sizing: border-box;
}

.title-dot{
  position: absolute;
  top: 15rpx;
  left: 10rpx;
  width: 15rpx;
  height: 15rpx;
  margin: 5rpx;
  background-color: rgb(62, 148, 219);
}

.act-title{
  position: absolute;
  top: 5px;
  left: 35px;
  height: auto;
  font-size: 32px;
}

.reason{
  width: 690rpx;
  padding: 10rpx 10rpx;
  margin: 0 auto;
  border-style: solid;
  border-radius: 2mm;
  border-width: 3rpx;
  border-color: rgb(62, 148, 219);
  font-size: 32rpx;
}

.order-submit{
  position: relative;
  top: 30rpx;
  margin: 0 auto;
  text-align: center;
  padding: 20rpx 40rpx;
  border-radius: 3mm;
  font-size: 35rpx;
  background-color: rgb(65, 193, 216);
}
