@import '../../../node_modules/taro-ui/dist/style/variables/default.scss';
@import '../../../node_modules/taro-ui/dist/style/mixins/index.scss';
.container{
  padding: 20rpx;
  margin-left:10px;
  margin-right:10px;
}
.gap-1{
    width:100%;
    height:20rpx;
}
.submit, .no-submit{
  position: relative;
  top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 3mm;
}

.submit{
  background-color: rgb(65, 193, 216);
  color: rgb(0, 0, 0)
}

.no-submit{
  background-color: rgb(172, 186, 188);
  color: rgb(123, 123, 123)
}

$float-layout-timer: 300ms;

.at-float-layout {
  &__container {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: $float-layout-height-min;
    max-height: $float-layout-height-max;
    background-color: $color-bg;
    transform: translate3d(0, 100%, 0);
    transition: transform $float-layout-timer cubic-bezier(0.36, 0.66, 0.04, 1);
  }
  .layout {
    &-header {
      position: relative;
      padding: $spacing-v-md;
      padding-left: 103px;
      line-height: $line-height-zh;
      background-color: $float-layout-header-bg-color;
      margin: 0 auto;
      text-align: center;
    }
    &-body {
      font-size: $font-size-base;
      padding: $spacing-v-md;
      max-height: 828px;
      min-height: 514px;
      &__content {
        padding-bottom: 40px;
        max-height: 798px;
        min-height: 484px;
      }
    }
  }
}
.order-body {
  display: flex;
  flex-wrap: wrap;
}
.order-time {
  display: flex;
  width: 100%;
  border-bottom: 1px #f5f5f5 solid;
}
.order {
  position: relative;
  display: flex;
  float: left;
  width: 100%;
  text-align: center;
  color: #1c1c1c;
  background: #fff;
  line-height: 100rpx;
  justify-content: center;
}
.orderbox {
  display: flex;
  width: 60rpx;
  height: 60rpx;
  margin: 10rpx;
  justify-content: center;
  align-items: center;
}
.order-current .orderbox{
  padding: 5px 50px;
  background: #35a4de;
  color: #fff;
}
.order-holder {
  color: #a4a4a4;
}

.order-submit{
  position: relative;
  top: 30px;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 3mm;
  font-size: 35px;
  background-color: rgb(65, 193, 216);
}
.title{
  position:relative;
  top: 5px;
  left: 0%;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
}
.title-dot{
  position: absolute;
  top: 15px;
  left: 10px;
  width: 15px;
  height: 15px;
  margin: 5px;
  background-color: rgb(62, 148, 219);
}
.act-title{
  position: absolute;
  top: 5px;
  left: 35px;
  height: auto;
  font-size: 32px;
}