.image-picker{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.image{
    position: relative;
    margin: 10rpx 12rpx;
    width: 30%; 
    height: 225rpx; 
}

.close{
    position: absolute;
    top: 8rpx;
    right: 8rpx;
	width: 40rpx;
	height: 40rpx;
	line-height: 38rpx;
	background-color: rgb(150, 150, 150);
	border-radius: 50%;
}

.close::before, .close::after{
	content: "";
	position: absolute;
	height: 28rpx;
	width: 4rpx;
	top: 6rpx;
	left: 18rpx;
	background-color: rgb(255, 255, 255);
}

.close::before{
	transform: rotate(45deg);
}

.close::after{
	transform: rotate(-45deg);
}

.add{ 
    position: relative;
    margin: 10rpx 11rpx;
    color: rgb(160, 160, 160);
}

.add::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 160rpx;
    margin-left: -80rpx;
    margin-top: -5rpx;
    border-top: 10rpx solid;
}

.add::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    height: 160rpx;
    margin-left: -5rpx;
    margin-top: -80rpx;
    border-left: 10rpx solid;
}