.container{
  padding: 0 10rpx;
  height: 100%;
}

.activity_list{
  display: flex;
  justify-content: center;
  margin-top: 200rpx;
  font-size: 32rpx;
  color: rgb(123, 123, 123);
}

.fab-icon{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 32rpx;
  bottom: 80rpx;
  background-color: rgb(219, 62, 219);
  height:80rpx;
  width:80rpx;
  border-radius: 50%;
}

.fab-icon Text{
  position: relative;
  bottom: 6rpx;
  right: 0rpx;
  font-size: 60px;
  color: rgb(250, 250, 250);
}