.list{
  width: 690rpx;
  margin: 20rpx 20rpx;
  padding: 20rpx 10rpx;
  border: 3rpx solid rgb(27, 149, 210);
  border-radius: 2mm;
}

.option{
  display: flex;
  justify-content: space-between;
}

.appoint-option, .select-option{
  display: flex;
  justify-content: flex-end;
  height: 60rpx;
  width: 100%;
}

.edit, .delete{
  display: flex;
  margin: 0 20rpx;
  padding: auto 10rpx;
  justify-content: center;
  align-items: center;
  border-radius: 2mm;
  line-height: 32rpx;
  font-size: 30rpx;
  color: rgb(255, 255, 255);
}

.edit{
  background-color: rgb(4, 130, 0);
}

.delete{
  background-color: rgb(210, 15, 0);
}
