.container{
    margin: 30% auto;
}

.title{
    margin: 0 auto;
    font-size: 50rpx;
}

.login-box{
    padding-top: 30rpx;
    display: flex;
    align-items: center;
}

.login-box Text{
    margin-right: 20px;
    font-size: 35px;
}

.login-input{
    padding: 10rpx 10rpx;
    width: 400rpx;
    border-radius: 2mm;
    border: 3rpx solid rgb(57, 165, 214);
}

.input{
    position: relative;
    display: flex;
    align-items: center;
    padding: 10rpx 10rpx;
    width: 400rpx;
    border-radius: 2mm;
    border: 3rpx solid rgb(57, 165, 214);
}

.hide{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60rpx;
    height: 36rpx;
    border-radius: 100%;
    background-color: rgb(210, 210, 210);
}

.hide::before{
    content: '';
    position: absolute;
    width: 20rpx;
    height: 20rpx;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

.submit{
    position: relative;
    top: 40rpx;
    padding: 20rpx 40rpx;
    margin-bottom: 20rpx;
    font-size: 30rpx;
    border-radius: 3mm;
    background-color: rgb(65, 193, 216);
}
.sign-box{
    padding-top: 30rpx
}
.sign-box Text{
    padding-left: 40rpx;
    display: inline-block;
    font-size: 30rpx;
    color: rgb(57, 165, 214);
    &:hover {
        text-decoration: underline;
        color: rgb(57, 165, 214);
    }
}