
.container{
  padding: 20rpx;
}
.identify-box{
  padding-top: 30px
}
.identify{
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  align-items: center;
  -ms-transform: translateY(-30%);
  transform:translateY(-30%);
}
.input{
  border-style: solid;
  border-radius: 2mm;
  border-width: 3px;
  border-color: rgb(57, 165, 214);
  display: inline-block;
  align-items: center;
}
.input Input{
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.submit{
  position: relative;
  top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 3mm;
  background-color: rgb(65, 193, 216);
}